/* Flex grid */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.col-12 {
  width: 100%;
}
.col-12,
.col-hands-4,
.col-hands-6,
.col-tablet-4,
.col-laptop-4,
.col-laptop-6,
.col-laptop-12,
.col-desktop-4,
.col-large-3,
.col-large-4 {
  padding: 0 10px;
}

@media (min-width: 576px) {
  .col-hands-4 {
    width: 33.333%;
  }
  .col-hands-6 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .col-tablet-4 {
    width: 33.333%;
  }
}

@media (min-width: 992px) {
  .col-laptop-4 {
    width: 33.333%;
  }
  .col-laptop-6 {
    width: 50%;
  }
  .col-laptop-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-desktop-4 {
    width: 33.333%;
  }
}

@media (min-width: 1400px) {
  .col-large-3 {
    width: 25%;
  }
  .col-large-4 {
    width: 33.333%;
  }
}
