/* Filters section */
.filters {
  padding: 30px 0 35px 0;
  background-color: var(--white);
}
.filters h1 {
  margin-bottom: 15px;
}
.filters__description {
  margin-bottom: 35px;
}
.filters__search {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 35px;
}
.filters__search-icon,
.filters__search button {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border: 0;
}
.filters__search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  background-color: var(--grey);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.filters__search-icon i {
  font-size: 18px;
}
.filters__search label {
  display: none;
}
.filters__search input[type="search"] {
  width: 100%;
  height: 100%;
  padding: 0 65px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid var(--grey);
  border-radius: 15px;
  outline: none;
}
.filters__search input[type="search"]::placeholder {
  color: var(--black);
  opacity: 1;
}
.filters__search button {
  right: 0;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 15px;
  font-size: 17px;
  cursor: pointer;
}
.filters__search button span {
  display: none;
}
.filters__filters > p {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}
.filters__filters-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.filters__filters-item {
  margin: 0 10px 12px 0;
}
.filters__filters-item a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 18px 0 56px;
  height: 50px;
  font-weight: 700;
  border-radius: 50px;
  border: 2px solid var(--grey-dark);
}
.filters__filters-item-bg {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: var(--blue);
  background-color: var(--blue-light);
  transition: 0.3s ease-in-out;
}
.filters__filters-item-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.filters__filters-item a:hover .filters__filters-item-bg {
  width: calc(100% + 4px);
}
.filters__filters-item span:last-child {
  z-index: 1;
}
.filters__info {
  display: flex;
}
.filters__info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  min-width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 11px;
  color: var(--blue);
  border: 1px solid var(--grey-dark);
}
.filters__info p {
  line-height: 25px;
}
@media (min-width: 768px) {
  .filters h1 {
    margin-bottom: 10px;
  }
  .filters__description {
    margin-bottom: 20px;
  }
  .filters__search {
    max-width: 420px;
  }
  .filters__search button {
    width: auto;
    padding: 0 18px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: 0.2s;
  }
  .filters__search button span {
    display: block;
    font-weight: 500;
  }
  .filters__search button i {
    display: none;
  }
}
@media (min-width: 992px) {
  .filters {
    padding: 0 0 35px 0;
  }
  .filters__filters {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
  }
  .filters__filters > p {
    margin: 0 30px 12px 0;
  }
  .filters__filters-items {
    margin-bottom: 0;
  }
  .filters__filters-item {
    margin: 0 25px 12px 0;
  }
  .filters__filters-item span {
    font-size: 18px;
  }
  .filters__search button:hover {
    opacity: 0.9;
  }
}

/* Popular section */
.popular {
  padding: 40px 20px 30px 20px;
  background-color: var(--grey);
}
.popular h2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 28px;
}
.popular h2 span:first-child {
  padding-right: 10px;
}
.popular li {
  margin-bottom: 10px;
}
@media (min-width: 576px) {
  .popular .card--horizontal {
    flex-direction: column;
  }
  .popular .card--horizontal .card__image {
    margin-right: 0;
    height: 115px;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
  }
  .popular .card--horizontal .card__image--horizontal img {
    width: 100%;
    height: auto;
    min-height: 100%;
  }
  .popular .card--horizontal .card__content {
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .popular {
    padding: 40px 56px 30px 56px;
  }
}
@media (min-width: 992px) {
  .popular {
    width: 32%;
    padding: 40px 40px 30px 40px;
  }
  .popular li {
    margin-bottom: 20px;
  }
}
@media (min-width: 1400px) {
  .popular {
    padding: 40px 40px 0 40px;
  }
  .popular li {
    margin-bottom: 30px;
  }
  .popular .card--horizontal {
    flex-direction: row;
  }
  .popular .card--horizontal .card__image {
    margin-right: 20px;
    width: 126px;
    min-height: 135px;
    border-top-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
  }
  .popular .card--horizontal .card__image--horizontal img {
    width: auto;
    height: 100%;
  }
  .popular .card--horizontal .card__content {
    padding: 10px;
  }
}

/* Lodgings section*/
.lodgings {
  padding: 40px 20px 30px 20px;
  background-color: var(--white);
}
.lodgings h2 {
  margin-bottom: 20px;
}
.lodgings button {
  margin-top: 20px;
  border: 0;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.lodgings li {
  margin-bottom: 15px;
}
@media (min-width: 576px) {
  .lodgings li {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .lodgings {
    padding: 40px 56px 30px 56px;
  }
}
@media (min-width: 992px) {
  .lodgings {
    width: 68%;
    margin-right: 40px;
    padding: 40px;
  }
  .lodgings h2 {
    margin-bottom: 28px;
  }
}
@media (min-width: 1400px) {
  .lodgings li {
    margin-bottom: 30px;
  }
  .lodgings button {
    margin-top: 10px;
  }
  .lodgings .row {
    margin: 0 -15px;
  }
  .lodgings .col-large-4 {
    padding: 0 15px;
  }
}

/* Activities section */
.activities {
  padding: 20px 0 30px 0;
}
.activities h2 {
  margin-bottom: 30px;
}
.activities .card {
  margin-bottom: 20px;
  border: 0;
}
.activities .card__image {
  height: 135px;
}
.activities .card__content {
  padding: 20px;
}
.activities .card__content h3 {
  margin-bottom: 0;
}
.activities .card--vertical .card__image--vertical img,
.activities .card--vertical .card__image--horizontal img {
  transform: translateY(-41%);
}
