/* Variables */
:root {
  --blue: #0065fc;
  --blue-light: #deebff;
  --grey: #f2f2f2;
  --grey-dark: #d9d9d9;
  --black: black;
  --white: white;

  --tablet: 768px;
  --laptop: 992px;
  --desktop: 1200px;
}

/* Resets & global styles */
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  background-color: var(--white);
  font-size: 16px;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
p,
a,
ul,
li,
input,
button {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--black);
}
h1 {
  font-size: 22px;
}
h3 {
  font-size: 19px;
  line-height: 21px;
}

/* Utilities */
.wrapper {
  padding: 0 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-12 {
  width: 100%;
}

/* Header */
.header__logo {
  display: flex;
  padding: 24px 0 15px 0;
  align-items: center;
  justify-content: space-between;
}
.header__logo a:first-child {
  width: 97px;
  height: 45px;
}
.header__logo a:first-child img {
  width: 100%;
  height: auto;
}
.header__logo a:last-child {
  color: var(--blue);
  font-weight: 700;
  text-decoration: none;
}
.header__nav {
  display: flex;
}
.header__nav li {
  width: 50%;
  text-align: center;
}
.header__nav li a {
  display: inline-block;
  width: 100%;
  padding: 14px;
}
.header__nav li a.active {
  color: var(--blue);
  border-bottom: 3px solid var(--blue);
  font-weight: 400;
}
.header__nav li a:not(.active) {
  border-bottom: 3px solid var(--grey);
}

/* Filters section */
.filters {
  padding: 30px 0 35px 0;
  background-color: var(--white);
}
.filters h1 {
  margin-bottom: 15px;
}
.filters h1 {
  margin-bottom: 15px;
}
.filters__description {
  margin-bottom: 35px;
}
.filters__search {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 35px;
}
.filters__search-icon,
.filters__search button {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border: 0;
}
.filters__search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  background-color: var(--grey);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.filters__search-icon i {
  font-size: 18px;
}
.filters__search label {
  display: none;
}
.filters__search input[type="search"] {
  width: 100%;
  height: 100%;
  padding: 0 65px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid var(--grey);
  border-radius: 15px;
  outline: none;
}
.filters__search button {
  right: 0;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 15px;
  font-size: 17px;
  cursor: pointer;
}
.filters__filters > p {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}
.filters__filters-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.filters__filters-item {
  margin: 0 10px 12px 0;
}
.filters__filters-item a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 18px 0 56px;
  height: 50px;
  font-weight: 700;
  border-radius: 50px;
  border: 2px solid var(--grey-dark);
}
.filters__filters-item-bg {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: var(--blue);
  background-color: var(--blue-light);
  transition: 0.3s ease-in-out;
}
.filters__filters-item-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.filters__filters-item a:hover .filters__filters-item-bg {
  width: calc(100% + 4px);
}
.filters__filters-item span:last-child {
  z-index: 1;
}
.filters__info {
  display: flex;
}
.filters__info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  min-width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 11px;
  color: var(--blue);
  border: 1px solid var(--grey-dark);
}

/* Popular section */
.popular {
  padding: 40px 0 30px 0;
  background-color: var(--grey);
}
.popular h2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 28px;
  font-size: 22px;
  font-weight: 600;
}
.popular h2 span:first-child {
  padding-right: 10px;
}

.card {
  display: flex;
  margin-bottom: 10px;
  background-color: var(--white);
  border: 5px solid var(--white);
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.card--horizontal .card__image {
  border-bottom-left-radius: 15px;
}
.card--horizontal .card__image--horizontal img {
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.card--horizontal .card__image--vertical img {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.card--vertical .card__image {
  border-top-right-radius: 15px;
}
.card__image {
  position: relative;
  width: 126px;
  min-width: 126px;
  height: 135px;
  margin-right: 20px;
  overflow: hidden;
  border-top-left-radius: 15px;
}
.card__image img {
  position: relative;
}
.card__content {
  display: flex;
  padding: 10px 0 10px 0;
  flex-direction: column;
  width: auto;
  justify-content: space-between;
}
.card__content h3 {
  font-size: 16px;
  margin-bottom: 5px;
}
.card__content p {
  font-size: 14px;
}
.card__rate {
  color: var(--blue);
  font-size: 11px;
}
.card__rate .fa-star--grey {
  color: var(--grey-dark);
}

/* Footer */
footer {
  padding: 40px 0 0 0;
  background-color: var(--grey);
}
.footer__title {
  margin-bottom: 15px;
}
.footer__list {
  margin-bottom: 40px;
}
.footer__list li {
  margin-bottom: 10px;
}
